<!doctype html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <link href='http://fonts.googleapis.com/css?family=Lekton|News+Cycle|Purple+Purse|Ribeye+Marrow|Donegal+One' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>
    <p><a href="/">HILARIOUS QUIZ!</a></p>
  </header>
    <%= yield %>
<!--   <footer>
    <p>test your might!</p>
  </footer> -->
</body>
</html>