<form action="/result" method="POST">
  <ol>
    <li>
      How do you feel about neckbeards?
      <br>
      <input type="radio" id="neither" name="0" value="0">Valid personal fashion choice.</input>
      <br>
      <input type="radio" id="ashley" name="0" value="-1">I try to stay away from them at all costs.</input>
      <br>
      <input type="radio" id="blake" name="0" value="1">I don't particularly care for them.</input>
    </li>
    <li>
      When was the last time you tweeted?
      <br>
      <input type="radio" id="ashley" name="1" value="-1">You mean just now?</input>
      <br>
      <input type="radio" id="blake" name="1" value="1">I don't really remember. A few weeks ago?</input>
      <br>
      <input type="radio" id="neither" name="1" value="0">I don't have a Twitter account.</input>
    </li>
    <li>
      How do you feel about JavaScript?
      <br>
      <input type="radio" id="ashley" name="2" value="-1">It's a delightfully quirky language.</input>
      <br>
      <input type="radio" id="neither" name="2" value="0">Back, evil beast!</input>
      <br>
      <input type="radio" id="blake" name="2" value="1">It has its uses, but I am not a fan.</input>
    </li>
    <li>
      Want some bacon?
      <br>
      <input type="radio" id="blake" name="3" value="1">Totally.</input>
      <br>
      <input type="radio" id="ashley" name="3" value="-1">No, thanks. I'm a vegan.</input>
      <br>
      <input type="radio" id="neither" name="3" value="0">Sure...?</input>
    </li>
    <li>
      Bro, do you even surf?
      <br>
      <input type="radio" id="blake" name="4" value="1">Totally, bro.</input>
      <br>
      <input type="radio" id="ashley" name="4" value="-1">No.</input>
      <br>
      <input type="radio" id="neither" name="4" value="0">No, but I wish I could.</input>
    </li>
    <li>
      Were you ever in a fraternity or sorority?
      <br>
      <input type="radio" id="ashley" name="5" value="-1">Do you even know me?</input>
      <br>
      <input type="radio" id="neither" name="5" value="0">No, but I had friends who were.</input>
      <br>
      <input type="radio" id="blake" name="5" value="1">Yes, actually.</input>
    </li>
    <li>
      Do you like to start philosophical debates?
      <br>
      <input type="radio" id="blake" name="6" value="1">Yes. I like seeing people fight.</input>
      <br>
      <input type="radio" id="ashley" name="6" value="-1">Yes. I think they are interesting.</input>
      <br>
      <input type="radio" id="neither" name="6" value="0">No. I don't like to talk about uncomfortable subjects.</input>
    </li>
    <li>
      Do you like it when people clap for you?
      <br>
      <input type="radio" id="ashley" name="7" value="-1">Totally! Clap for me!</input>
      <br>
      <input type="radio" id="blake" name="7" value="1">Not really...?</input>
      <br>
      <input type="radio" id="neither" name="7" value="0">Only if I'm performing.</input>
    </li>
    <li>
      Whiskey, anyone?
      <br>
      <input type="radio" id="ashley" name="8" value="-1">Yes please!</input>
      <br>
      <input type="radio" id="blake" name="8" value="1">No thanks, I'd rather have a beer.</input>
      <br>
      <input type="radio" id="neither" name="8" value="0">No thanks, I don't drink.</input>
    </li>
    <li>
      Are you awesome?
      <br>
      <input type="radio" id="neither" name="9" value="0">Yes</input>
    </li>
  </ol>
  <button type="submit" value="submit">Score me!</button>
</form>